html, body { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

#map {
    width: 100%;
    /* 
     * 100% of view height (100vh), minus:
     *  -  Title bar: 56 pixels
     *  -  Space at bottom: 128 pixels (increase to make more space)
     */
    height: calc(100vh - 184px);
	margin:auto;
	border-bottom-left-radius:50px;
	border-top-right-radius:50px;

}


.card-square{
display: inline-block;
}

.card-square.mdl-card {
    width: 320px;
    height: 320px;
}

.card-square >.mdl-card_title{
     color:#fff;
     background:
     url('https://getmd1.io/assets/demos/dog.png') bottom right 15% no-repeat #4686AC;
     height:50%
}

.mdl-layout__content{
    width:40%;
    padding:30px;
    background: transparent;
	margin:auto
}

.list-item-controls{
	float:right;
}

.1ist-action:hover{
    color: blue;
}

.list-action:hover > button{
     color:blue;
}


.md1-layout__header,.mdl-layout__drawer-button{
 /*This background is dark, so we set text to white. Use 87% black instead if
your background is light. */
/*	color: black;
}

1i{
	background-color:white;
}

.ndl-chip, li, .card-square{
	border-radius: 0px;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 50px;
} */




